Repository smartcontractkit/chainlink-common, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @Atrax1, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/bix-framework, @nolag, @topliceanu, @pedrovsg, @smartcontractkit/realtime, @smartcontractkit/ccip-offchain

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/observability-lib/ @Atrax1

/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations @nolag 
/pkg/monitoring/ @topliceanu @pedrovsg
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/realtime
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain

Execute on capability, need to add config to it properly.
  pkg/capabilities/capabilities.go
  pkg/capabilities/loopserver/loopserver.go
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/protoc/main.go
  pkg/capabilities/protoc/pkg/generate_client.go
  pkg/capabilities/protoc/pkg/generate_server.go
  pkg/capabilities/protoc/pkg/template_generator.go
  pkg/capabilities/protoc/pkg/templates/server.go.tmpl
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action.pb.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action.proto
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action_client.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action_client_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/server/basic_action_server_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger.pb.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger.proto
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger_client.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger_client_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/server/basic_trigger_server_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/server/github.com/smartcontractkit/chainlink-common/pkg/capabilities/cli/cmd/testdata/fixtures/capabilities/basictrigger/basic_trigger_server_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/gen.sh
  pkg/capabilities/utils.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Add removal from registry when closed
  pkg/capabilities/protoc/pkg/templates/server.go.tmpl
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/server/basic_action_server_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/server/basic_trigger_server_gen.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

clean up the config structs
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/reporting_plugin.go
  pkg/capabilities/consensus/ocr3/transmitter.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

cleanup and benchmark ocr3 reporting plugin for llo
  pkg/capabilities/consensus/ocr3/benchmark_test.go
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/reporting_plugin.go
  pkg/capabilities/consensus/ocr3/transmitter.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

benchmark combination of wf and streams
  pkg/capabilities/consensus/ocr3/benchmark_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

fix race; transmitter
  pkg/capabilities/consensus/ocr3/transmitter.go
  pkg/capabilities/validate.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

chore(ocr-capability): cleanup feed configuration (#1092)
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 5460e9530e1e20d128df1e2d5390bdeed62c7dcd
  dev/bench/data.js
Owners: @smartcontractkit/foundations

pkg/loop/internal/relayer/pluginprovider/contractwriter/contract_writer.go: actually register the contract writer
  pkg/loop/internal/relayer/pluginprovider/contractwriter/contract_writer.go
Owners: @smartcontractkit/foundations

pkg/loop/internal/relayer/pluginprovider/contractwriter/contract_writer.go: fix SubmitTransaction, decode params
  pkg/loop/internal/relayer/pluginprovider/contractwriter/contract_writer.go
Owners: @smartcontractkit/foundations

fix chainwriter LOOP plugin service (#1096)
  pkg/loop/internal/relayer/pluginprovider/contractwriter/contract_writer.go
Owners: @smartcontractkit/foundations

add Benchmark (go) benchmark result for 84ec641e075870c9eab73b025282d2d29bba96dd
  dev/bench/data.js
Owners: @smartcontractkit/foundations

add benchmark for observation phase
  pkg/capabilities/consensus/ocr3/benchmark_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Fix wrapper mod for primitves wrapping and extractor modifiers for nested slice of slices (#1090)
  pkg/codec/property_extractor.go
  pkg/codec/wrapper.go
  pkg/codec/wrapper_test.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

add Benchmark (go) benchmark result for 17bfd8db7e32f8932e61456966fea17be79151e5
  dev/bench/data.js
Owners: @smartcontractkit/foundations

pkg/services/promhealth: new isolated package for prometheus health reporting
  pkg/loop/server.go
  pkg/services/health.go
  pkg/services/promhealth/promhealth.go
Owners: @smartcontractkit/foundations

feat(ocr3-capability): llo benchmarks (#1095)
  pkg/capabilities/consensus/ocr3/benchmark_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 5c320a9353928934c224f1b662b540bb094a3104
  dev/bench/data.js
Owners: @smartcontractkit/foundations

metering for consensus cap
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/capability_test.go
  pkg/values/map.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Adding MeterableCapability iface
  pkg/capabilities/capabilities.go
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/metering/units.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

clean up
  pkg/capabilities/consensus/ocr3/capability.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

pkg/capabilities/consensus/ocr3: use services.Engine (#1009)
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/requests/handler.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 00dd1822393d55515a27a38e0febdf1547040acb
  dev/bench/data.js
Owners: @smartcontractkit/foundations

removing MeterableCapability iface in favor of MeteringUnit struct
  pkg/capabilities/capabilities.go
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/metering/units.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

fixing tests
  pkg/capabilities/consensus/ocr3/capability_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

values.ByteSizeOfMap --> private utility
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/values/map.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

updating access pattern to metering.unit
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/metering/units.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

metering.XyzMeteringUnit --> metering.XyzUnit
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/metering/units.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

Fix err handling in transformWithMapsHelper
  pkg/codec/modifier_base.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Change hardcoder to support TransformToOffChain for primitive variables
  pkg/codec/hard_coder.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Improve extractElement to work on uninitialised slices
  pkg/codec/property_extractor.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Add a test for hardcoder TransformToOffChain for primitives variables
  pkg/codec/hard_coder_test.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Handle uninitialised slices in property extractor and add tests
  pkg/codec/property_extractor.go
  pkg/codec/property_extractor_test.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Improve transformWithMapsHelper err message
  pkg/codec/modifier_base.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

minor improvements
  pkg/codec/property_extractor.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Improve err handling in initSliceForFieldPath
  pkg/codec/property_extractor.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Use derefPtr helper
  pkg/codec/property_extractor.go
  pkg/codec/utils.go
  pkg/codec/wrapper.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

metering for consensus cap (#1099)
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/capability_test.go
  pkg/metering/units.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

add Benchmark (go) benchmark result for 46f0d8f85c3cf77ca5b4b6141768059ecf6e2ab3
  dev/bench/data.js
Owners: @smartcontractkit/foundations

using test loggers
  pkg/billing/workflow_client_test.go
Owners: @smartcontractkit/foundations
