Repository smartcontractkit/chainlink-common, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/bix-framework, @smartcontractkit/realtime, @smartcontractkit/ccip-offchain

More tests
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/nodetrigger/gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/nodetrigger/node_trigger.pb.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/nodetrigger/node_trigger.proto
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/nodetrigger/node_trigger_client_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/nodetrigger/node_triggermock/node_trigger_mock_gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/nodetrigger/server/node_trigger_server_gen.go
  pkg/workflows/sdk/runtime.go
  pkg/workflows/sdk/testutils/runner.go
  pkg/workflows/sdk/testutils/runner_test.go
  pkg/workflows/sdk/testutils/runtime.go
  pkg/workflows/sdk/testutils/runtime_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

remove cfg.headers and add static auth
  pkg/beholder/auth.go
  pkg/beholder/client.go
  pkg/chipingress/client.go
Owners: @smartcontractkit/realtime, @smartcontractkit/foundations

added comments to GetTransactionFeeRequest for clarity
  pkg/loop/internal/pb/contract_writer.proto
Owners: @smartcontractkit/foundations

make generate
  pkg/loop/internal/pb/contract_writer.pb.go
Owners: @smartcontractkit/foundations

More tests, one more added as todo
  pkg/workflows/examples/bitgo/workflow/pkg/workflow.go
  pkg/workflows/examples/bitgo/workflow/pkg/workflow_test.go
  pkg/workflows/sdk/runtime.go
  pkg/workflows/sdk/testutils/registry.go
  pkg/workflows/sdk/testutils/runtime.go
  pkg/workflows/sdk/testutils/runtime_test.go
Owners: @smartcontractkit/keystone

Add readme for hacks to use my branch
  README.md
Owners: @smartcontractkit/foundations

simplify error comparison
  pkg/capabilities/consensus/ocr3/aggregators/reduce_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Revert "revert 8b1123f4d37664e49bd6a70484d6065d39b11315 (#1126)" (#1136)
  pkg/billing/pb/billing_service.pb.go
  pkg/billing/pb/billing_service.proto
  pkg/capabilities/consensus/ocr3/aggregators/reduce_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/pb/generate.go
  pkg/metering/pb/generate.go
  pkg/metering/pb/metering.pb.go
  pkg/metering/pb/metering.proto
  pkg/metering/pb/meteringdetail.pb.go
  pkg/metering/pb/meteringdetail.proto
  pkg/metering/pb/meteringstep.pb.go
  pkg/metering/pb/meteringstep.proto
  pkg/workflows/events/pb/generate.go
  pkg/workflows/events/pb/metadata.pb.go
  pkg/workflows/events/pb/metadata.proto
  pkg/workflows/wasm/pb/generate.go
Owners: @smartcontractkit/foundations, @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 615547d9128099ec4e9f87b4d91db414dba05bd9
  dev/bench/data.js
Owners: @smartcontractkit/foundations

use imported HeaderProvider from chipingress
  pkg/beholder/auth.go
Owners: @smartcontractkit/realtime

add tests for interceptor
  pkg/chipingress/client_test.go
Owners: @smartcontractkit/foundations

test auth header
  pkg/beholder/auth_test.go
Owners: @smartcontractkit/realtime

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/realtime
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain
