Repository smartcontractkit/chainlink-common, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @Atrax1, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/bix-framework, @nolag, @topliceanu, @pedrovsg, @smartcontractkit/realtime, @smartcontractkit/ccip-offchain

[chore] Add CreStepTimeout to WriteTarget
  pkg/capabilities/consensus/ocr3/ocr3cap/identical_consensus_test.go
  pkg/capabilities/consensus/ocr3/ocr3cap/reduce_consensus_test.go
  pkg/capabilities/targets/chainwriter/chainwriter_target-schema.json
  pkg/capabilities/targets/chainwriter/chainwriter_target_generated.go
  pkg/capabilities/targets/chainwriter/target_builders_generated.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Proposal for Custom Beholder Messages
  pkg/custmsg/custom_message.go
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/module_test.go
  pkg/workflows/wasm/host/wasm_test.go
Owners: @smartcontractkit/foundations, @smartcontractkit/keystone

fix(observability-lib): notification policies provisioning (#1074)
  observability-lib/api/notification-policy.go
  observability-lib/api/notification-policy_test.go
Owners: @Atrax1

wtf
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.proto
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/types/aggregator.go
  pkg/capabilities/datastreams/types.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

pkg/types/evm: create package with ContractReaderConfig
  pkg/types/evm/chain_reader.go
  pkg/types/evm/chain_reader_test.go
Owners: @smartcontractkit/foundations

tests working
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

fix partial staleness
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

[chore] Add CreStepTimeout to WriteTarget
  pkg/capabilities/consensus/ocr3/ocr3cap/identical_consensus_test.go
  pkg/capabilities/consensus/ocr3/ocr3cap/reduce_consensus_test.go
  pkg/capabilities/targets/chainwriter/chainwriter_target-schema.json
  pkg/capabilities/targets/chainwriter/chainwriter_target_generated.go
  pkg/capabilities/targets/chainwriter/target_builders_generated.go
  pkg/workflows/sdk/builder_test.go
  pkg/workflows/sdk/compute_test.go
  pkg/workflows/sdk/testdata/fixtures/workflows/expected_sepolia.yaml
  pkg/workflows/sdk/testdata/fixtures/workflows/notstreamssepolia.yaml
  pkg/workflows/sdk/testdata/fixtures/workflows/sepolia.yaml
  pkg/workflows/sdk/testdata/fixtures/workflows/sepolia_defaults.yaml
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

[chore] Add CreStepTimeout to WriteTarget
  pkg/capabilities/consensus/ocr3/ocr3cap/identical_consensus_test.go
  pkg/capabilities/consensus/ocr3/ocr3cap/reduce_consensus_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

cleanup; add example
  pkg/capabilities/consensus/ocr3/datafeeds/example_llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Add Replay to Relayer
  Makefile
  pkg/loop/internal/pb/relayer.pb.go
  pkg/loop/internal/pb/relayer.proto
  pkg/loop/internal/pb/relayer_grpc.pb.go
  pkg/loop/internal/relayer/relayer.go
  pkg/loop/mocks/relayer.go
  pkg/loop/relayer_service.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Update relayer.pb.go
  pkg/loop/internal/pb/relayer.pb.go
Owners: @smartcontractkit/foundations

Add replay to tests
  pkg/loop/internal/example-relay/main.go
  pkg/loop/internal/relayer/test/relayer.go
Owners: @smartcontractkit/foundations

bump go 1.24 & golangci-lint 1.64.7; use *testing.T.Context; bump mockery (#1065)
  .github/workflows/golangci_lint.yml
  .tool-versions
  Makefile
  go.mod
  pkg/beholder/client_test.go
  pkg/beholder/internal/mocks/otlp_exporter.go
  pkg/capabilities/datastreams/mocks/report_codec.go
  pkg/loop/internal/core/services/capability/capabilities_test.go
  pkg/loop/internal/core/services/reportingplugin/ocr3/test/factory.go
  pkg/loop/internal/core/services/telemetry/test/telemetry.go
  pkg/loop/internal/relayer/pluginprovider/ext/ccip/test/commit_factory_server.go
  pkg/loop/internal/relayer/pluginprovider/ext/ccip/test/exec_factory_server.go
  pkg/loop/internal/relayer/pluginprovider/ext/ccip/test/exec_provider_test.go
  pkg/loop/internal/relayer/pluginprovider/ext/mercury/test/mercury.go
  pkg/loop/internal/relayer/test/relayer.go
  pkg/loop/internal/reportingplugin/test/factory.go
  pkg/loop/mocks/relayer.go
  pkg/monitoring/exporter_factory_mock.go
  pkg/monitoring/exporter_mock.go
  pkg/monitoring/metrics_mock.go
  pkg/monitoring/source_factory_mock.go
  pkg/monitoring/source_mock.go
  pkg/services/servicetest/run_test.go
  pkg/types/ccip/mocks/offramp_reader_mock.go
  pkg/types/core/mocks/capabilities_registry.go
  pkg/types/core/mocks/relayer.go
  pkg/types/interfacetests/chain_components_interface_tests.go
  pkg/types/interfacetests/utils.go
  pkg/utils/tests/ctx.go
  pkg/utils/tests/ctx_go124.go
  pkg/utils/tests/tests.go
  pkg/utils/testutils.go
  pkg/workflows/wasm/host/module_test.go
Owners: @smartcontractkit/foundations, @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @topliceanu, @pedrovsg, @smartcontractkit/ccip-offchain

linter, fix example, use decimal.Decimal consistently
  pkg/capabilities/consensus/ocr3/datafeeds/example_llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

WIP
  pkg/workflows/sdk/runner.go
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/legacy/pb/wasm.pb.go
  pkg/workflows/wasm/legacy/pb/wasm.proto
  pkg/workflows/wasm/pb/wasm.pb.go
  pkg/workflows/wasm/pb/wasm.proto
  pkg/workflows/wasm/runner_wasip1.go
Owners: @smartcontractkit/keystone

Update relayer.go
  pkg/loop/internal/relayer/test/relayer.go
Owners: @smartcontractkit/foundations

typos, docs
  pkg/capabilities/consensus/ocr3/datafeeds/example_llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Use string fromBlock
  pkg/loop/internal/example-relay/main.go
  pkg/loop/internal/pb/relayer.pb.go
  pkg/loop/internal/pb/relayer.proto
  pkg/loop/internal/relayer/relayer.go
  pkg/loop/internal/relayer/test/relayer.go
  pkg/loop/mocks/relayer.go
  pkg/loop/relayer_service.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Adding ByzantineQuorum utility
  pkg/aggregation/quorum.go
  pkg/aggregation/quorum_test.go
Owners: @smartcontractkit/foundations

bumping benchmark action
  .github/workflows/benchmark.yml
Owners: @smartcontractkit/foundations

swapping N and F
  pkg/aggregation/quorum.go
  pkg/aggregation/quorum_test.go
Owners: @smartcontractkit/foundations

Adding ByzantineQuorum utility (#1081)
  pkg/aggregation/quorum.go
  pkg/aggregation/quorum_test.go
Owners: @smartcontractkit/foundations

bumping benchmark action (#1082)
  .github/workflows/benchmark.yml
Owners: @smartcontractkit/foundations

add Benchmark (go) benchmark result for 00be1cbabe48ef0555d9182b572f96efa32671b5
  dev/bench/data.js
Owners: @smartcontractkit/foundations

fixing encoded outcome
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
  pkg/capabilities/datastreams/types.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

cleanup
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.proto
  pkg/capabilities/consensus/ocr3/datafeeds/example_llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

fix capability loop test
  pkg/loop/internal/core/services/capability/capabilities_test.go
Owners: @smartcontractkit/foundations

Add Metering Detail to Capabilities Response
  pkg/capabilities/capabilities.go
  pkg/capabilities/capabilities_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Closer to implementing the methods...
  pkg/workflows/sdk/legacy/workflow_spec.go
  pkg/workflows/sdk/runner.go
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/wasm.go
  pkg/workflows/wasm/pb/wasm.pb.go
  pkg/workflows/wasm/pb/wasm.proto
  pkg/workflows/wasm/runner_wasip1.go
  pkg/workflows/wasm/runtime_wasip1.go
Owners: @smartcontractkit/keystone

reduce metadata name
  pkg/capabilities/capabilities.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/loop/internal/core/services/capability/capabilities_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

make another test pass
  pkg/loop/internal/core/services/capability/capabilities_registry_test.go
Owners: @smartcontractkit/foundations

fix another test
  pkg/capabilities/pb/capabilities_helpers_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

json schema validation
  pkg/capabilities/consensus/ocr3/models.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

CRE-293 Add Metering Detail to Capabilities Response (#1080)
  pkg/capabilities/capabilities.go
  pkg/capabilities/capabilities_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/pb/capabilities_helpers_test.go
  pkg/loop/internal/core/services/capability/capabilities_registry_test.go
  pkg/loop/internal/core/services/capability/capabilities_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

add Benchmark (go) benchmark result for c05266d7568233283bbb30fb72ac26a8ec337e38
  dev/bench/data.js
Owners: @smartcontractkit/foundations

[chore] Add CreStepTimeout to WriteTarget (#1073)
  pkg/capabilities/consensus/ocr3/ocr3cap/identical_consensus_test.go
  pkg/capabilities/consensus/ocr3/ocr3cap/reduce_consensus_test.go
  pkg/capabilities/targets/chainwriter/chainwriter_target-schema.json
  pkg/capabilities/targets/chainwriter/chainwriter_target_generated.go
  pkg/capabilities/targets/chainwriter/target_builders_generated.go
  pkg/workflows/sdk/builder_test.go
  pkg/workflows/sdk/compute_test.go
  pkg/workflows/sdk/testdata/fixtures/workflows/expected_sepolia.yaml
  pkg/workflows/sdk/testdata/fixtures/workflows/notstreamssepolia.yaml
  pkg/workflows/sdk/testdata/fixtures/workflows/sepolia.yaml
  pkg/workflows/sdk/testdata/fixtures/workflows/sepolia_defaults.yaml
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 8485f36ebe7e3e749c46e9e171ca5c55c42bcf08
  dev/bench/data.js
Owners: @smartcontractkit/foundations

finished host callbacks, but they need testing
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/pb/wasm.pb.go
  pkg/workflows/wasm/pb/wasm.proto
  pkg/workflows/wasm/runner_wasip1.go
  pkg/workflows/wasm/runtime_wasip1.go
Owners: @smartcontractkit/keystone

cleanup; rm OCRTriggerEvent to simplify the dependency and layering
  pkg/capabilities/capabilities.go
  pkg/capabilities/capabilities_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/pb/capabilities_helpers_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/observability-lib/ @Atrax1

/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations @nolag 
/pkg/monitoring/ @topliceanu @pedrovsg
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/realtime
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain
