Repository smartcontractkit/chainlink-common, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @Atrax1, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/bix-framework, @nolag, @topliceanu, @pedrovsg, @smartcontractkit/realtime, @smartcontractkit/ccip-offchain

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/observability-lib/ @Atrax1

/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations @nolag 
/pkg/monitoring/ @topliceanu @pedrovsg
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/realtime
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain

Capability Interface Test Framework
  pkg/types/interfacetests/capabilities_interface_tests.go
Owners: @smartcontractkit/foundations

simplify generics and use correct regexp
  pkg/types/interfacetests/capabilities_interface_tests.go
Owners: @smartcontractkit/foundations

address comments
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

fix test
  pkg/capabilities/consensus/ocr3/datafeeds/example_llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/testdata/fixtures/capability/schema.json
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

maintain compatbility; depreciate OCREvent
  pkg/capabilities/capabilities.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

replay status
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

feat:(capabilities) OCR aggregator for LLO-based data feeds (#1079)
  pkg/capabilities/capabilities.go
  pkg/capabilities/capabilities_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.pb.go
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.proto
  pkg/capabilities/consensus/ocr3/datafeeds/example_llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/helpers_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
  pkg/capabilities/consensus/ocr3/models.go
  pkg/capabilities/consensus/ocr3/testdata/fixtures/capability/schema.json
  pkg/capabilities/consensus/ocr3/types/aggregator.go
  pkg/capabilities/datastreams/types.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/pb/capabilities_helpers_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 39bc061d09ded8c6b87ff95ffaea53110a742f87
  dev/bench/data.js
Owners: @smartcontractkit/foundations

Starting to generate clients
  pkg/capabilities/cli/cmd/testdata/fixtures/capabilities/basicaction/generate_later.go
  pkg/capabilities/protoc/main.go
  pkg/capabilities/protoc/pkg/generate_client.go
  pkg/capabilities/protoc/pkg/template_generator.go
  pkg/capabilities/protoc/pkg/templates/client.go.tmpl
  pkg/capabilities/protoc/pkg/templates/client_trigger.go.tmpl
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action.pb.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action.proto
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action_client.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger.proto
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/gen.go
  pkg/utils/codegen/utils.go
  pkg/workflows/sdk/runner.go
  pkg/workflows/wasm/host/test/nodag/main.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

removing global state for beholder tester
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/foundations

Remove ReplayStatus
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

pkg/types/evm: create package with ContractReaderConfig
  pkg/types/evm/chain_reader.go
  pkg/types/evm/chain_reader_test.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Add Replay to Relayer (#1072)
  Makefile
  pkg/loop/internal/example-relay/main.go
  pkg/loop/internal/pb/relayer.pb.go
  pkg/loop/internal/pb/relayer.proto
  pkg/loop/internal/pb/relayer_grpc.pb.go
  pkg/loop/internal/relayer/relayer.go
  pkg/loop/internal/relayer/test/relayer.go
  pkg/loop/mocks/relayer.go
  pkg/loop/relayer_service.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

add Benchmark (go) benchmark result for 8dad34f94aa5f30528de595b9db71465531398cf
  dev/bench/data.js
Owners: @smartcontractkit/foundations

adding doc
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/foundations

temp
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

removing global state for beholder tester (#1085)
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/foundations

add Benchmark (go) benchmark result for e4827f4b9cb5d2e51ff72c5d593051cdd65aa79c
  dev/bench/data.js
Owners: @smartcontractkit/foundations

add Benchmark (go) benchmark result for ef0e2432cdca9d1ec630a7ac7a3e3cbba49b014c
  dev/bench/data.js
Owners: @smartcontractkit/foundations

NONEVM-1215 define GetBalance relayer API
  pkg/loop/internal/pb/relayer.pb.go
  pkg/loop/internal/pb/relayer.proto
  pkg/loop/internal/pb/relayer_grpc.pb.go
Owners: @smartcontractkit/foundations

fix llo aggregator timestamp for cache contract encoding
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

NONEVM-1215 add decimals for balance reply
  pkg/loop/internal/pb/relayer.pb.go
  pkg/loop/internal/pb/relayer.proto
Owners: @smartcontractkit/foundations

new billing service proto file
  pkg/billing/pb/billing_service.proto
Owners: @smartcontractkit/foundations

generate go files
  pkg/billing/pb/billing_service.pb.go
  pkg/billing/pb/billing_service.proto
  pkg/billing/pb/billing_service_grpc.pb.go
  pkg/billing/pb/generate.go
Owners: @smartcontractkit/foundations

remove unused import
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

linter
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

fix llo aggregator timestamp for cache contract encoding (#1089)
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator_test.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Closer, something seems broken with values.value... added hack scripts for complication for now
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/protoc/pkg/templates/client.go.tmpl
  pkg/capabilities/protoc/pkg/templates/client_trigger.go.tmpl
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action.pb.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action_client.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger.pb.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger.proto
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/basic_trigger_client.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basictrigger/gen.go
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/gen.sh
  pkg/workflows/sdk/runner.go
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/module_test.go
  pkg/workflows/wasm/host/test/build.sh
  pkg/workflows/wasm/host/test/builderr/cmd/main.go
  pkg/workflows/wasm/host/test/computepanic/cmd/main.go
  pkg/workflows/wasm/host/test/dirs/cmd/main.go
  pkg/workflows/wasm/host/test/emit/cmd/main.go
  pkg/workflows/wasm/host/test/env/cmd/main.go
  pkg/workflows/wasm/host/test/fetch/cmd/main.go
  pkg/workflows/wasm/host/test/fetchlimit/cmd/main.go
  pkg/workflows/wasm/host/test/files/cmd/main.go
  pkg/workflows/wasm/host/test/http/cmd/main.go
  pkg/workflows/wasm/host/test/log/cmd/main.go
  pkg/workflows/wasm/host/test/nodag/cmd/main.go
  pkg/workflows/wasm/host/test/nodag/main.go
  pkg/workflows/wasm/host/test/rand/cmd/main.go
  pkg/workflows/wasm/host/test/runnerapi/cmd/main.go
  pkg/workflows/wasm/host/test/success/cmd/main.go
  pkg/workflows/wasm/host/wasm.go
  pkg/workflows/wasm/host/wasm_nodag_test.go
  pkg/workflows/wasm/host/wasm_test.go
  pkg/workflows/wasm/pb/wasm.pb.go
  pkg/workflows/wasm/pb/wasm.proto
  pkg/workflows/wasm/runner_wasip1.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for c11ba1cf36826b86449aa1c12514fa91f12c0894
  dev/bench/data.js
Owners: @smartcontractkit/foundations

NONEVM-1215 Add GetBalance to chain service
  pkg/loop/internal/example-relay/main.go
  pkg/loop/internal/relayer/relayer.go
  pkg/loop/internal/relayer/test/relayer.go
  pkg/loop/mocks/relayer.go
  pkg/loop/relayer_service.go
  pkg/types/contract_reader.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

pkg/types/evm: create package with ContractReaderConfig (#1076)
  pkg/types/evm/chain_reader.go
  pkg/types/evm/chain_reader_test.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

add Benchmark (go) benchmark result for 235758e9e3d8ab49462d3c6f704eb4d9faf6fadf
  dev/bench/data.js
Owners: @smartcontractkit/foundations

move client to common
  pkg/billing/test-fixtures/domain_test.key
  pkg/billing/test-fixtures/domain_test.pem
  pkg/billing/workflow_client.go
  pkg/billing/workflow_client_test.go
Owners: @smartcontractkit/foundations

Fix nested slice of slice property extractor mod
  pkg/codec/property_extractor.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Fix wrapper modifier for primitives
  pkg/codec/wrapper.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Fix wrapper modifier tests
  pkg/codec/wrapper_test.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Marshal to custom message to JSON to see Beholder logs in Loki
  go.mod
  pkg/custmsg/custom_message.go
Owners: @smartcontractkit/foundations

wip
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/reporting_plugin.go
  pkg/capabilities/consensus/ocr3/transmitter.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Closer, calling without wrapper passes test, but I need to see why the triggers don't decode right. Haven't tested wrapper
  pkg/capabilities/protoc/pkg/templates/client.go.tmpl
  pkg/capabilities/protoc/pkg/testdata/fixtures/capabilities/basicaction/basic_action_client.go
  pkg/workflows/sdk/promise.go
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/test/build.sh
  pkg/workflows/wasm/host/test/nodag/cmd/main.go
  pkg/workflows/wasm/host/wasip1.go
  pkg/workflows/wasm/host/wasm.go
  pkg/workflows/wasm/host/wasm_nodag_test.go
  pkg/workflows/wasm/host/wasm_test.go
  pkg/workflows/wasm/runner_wasip1.go
  pkg/workflows/wasm/runtime_wasip1.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Tests pass, didn't remove the decoding hack. Multiple triggers with the same trigger ID are currently unsupported, we should probably add support for that...
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/wasm.go
  pkg/workflows/wasm/host/wasm_nodag_test.go
Owners: @smartcontractkit/keystone
