Repository smartcontractkit/chainlink-common, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @Atrax1, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/bix-framework, @nolag, @topliceanu, @pedrovsg, @smartcontractkit/realtime, @smartcontractkit/ccip-offchain

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/observability-lib/ @Atrax1

/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations @nolag 
/pkg/monitoring/ @topliceanu @pedrovsg
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/realtime
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain

pkg/services/servicetest: add RunCfg for customized Run configurations
  pkg/services/servicetest/run.go
Owners: @smartcontractkit/foundations

DEVSVCS-1554 add NewEventEmitter
  pkg/workflows/sdk/runtime.go
Owners: @smartcontractkit/keystone

Move Billing Service Proto to Common (#1088)
  pkg/billing/pb/billing_service.pb.go
  pkg/billing/pb/billing_service.proto
  pkg/billing/pb/billing_service_grpc.pb.go
  pkg/billing/pb/generate.go
  pkg/billing/test-fixtures/domain_test.key
  pkg/billing/test-fixtures/domain_test.pem
  pkg/billing/workflow_client.go
  pkg/billing/workflow_client_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
Owners: @smartcontractkit/foundations, @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for 1b355c7c8c033b55384de86450d41be1af874a08
  dev/bench/data.js
Owners: @smartcontractkit/foundations

ocr3 should respect context
  pkg/capabilities/consensus/ocr3/capability.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Fix values Wrap(v any) nil ptr bug
  pkg/values/value.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

ocr3 should respect context (#1102)
  pkg/capabilities/consensus/ocr3/capability.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

add Benchmark (go) benchmark result for d0dccede284bef732af6d7435dd3ef040d48c97f
  dev/bench/data.js
Owners: @smartcontractkit/foundations

capability label helper
  pkg/capabilities/validate.go
  pkg/capabilities/validate_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

INFOPLAT-2071 Adds `chip-ingress` grpc client
  go.mod
  go.sum
  pkg/chipingress/client.go
  pkg/chipingress/client_test.go
  pkg/chipingress/pb/chip_ingress_write.pb.go
  pkg/chipingress/pb/chip_ingress_write.proto
  pkg/chipingress/pb/chip_ingress_write_grpc.pb.go
Owners: @smartcontractkit/foundations

Add features to wrapper and property extractor modifiers (#1098)
  pkg/codec/hard_coder.go
  pkg/codec/hard_coder_test.go
  pkg/codec/modifier_base.go
  pkg/codec/property_extractor.go
  pkg/codec/property_extractor_test.go
  pkg/codec/utils.go
  pkg/codec/wrapper.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

add Benchmark (go) benchmark result for d68a079c09d16d0b3391b4906d79c0470341e878
  dev/bench/data.js
Owners: @smartcontractkit/foundations

INFOPLAT-2071 Adds chipingress configuration settings
  pkg/beholder/config.go
Owners: @smartcontractkit/realtime

INFOPLAT-2071 Adds new emitter implementation using chipingress client
  pkg/beholder/chip_ingress_emitter.go
  pkg/beholder/client.go
  pkg/chipingress/client.go
  pkg/chipingress/client_test.go
Owners: @smartcontractkit/realtime, @smartcontractkit/foundations

INFOPLAT-2071 Adds new emitter dual source emitter
  pkg/beholder/chip_ingress_emitter.go
Owners: @smartcontractkit/realtime

INFOPLAT-2071 Handles creating emitter based on if chip ingress is configured
  pkg/beholder/chip_ingress_emitter.go
  pkg/beholder/client.go
  pkg/beholder/dual_source_emitter.go
  pkg/beholder/message_emitter.go
Owners: @smartcontractkit/realtime

INFOPLAT-2071 Adds testing for chip-ingress emitter
  .mockery.yaml
  pkg/beholder/chip_ingress_emitter.go
  pkg/beholder/chip_ingress_emitter_test.go
  pkg/beholder/client.go
  pkg/beholder/client_test.go
  pkg/beholder/config_test.go
  pkg/beholder/dual_source_emitter.go
  pkg/beholder/message_emitter.go
  pkg/beholder/message_emitter_test.go
  pkg/chipingress/client.go
  pkg/chipingress/client_test.go
  pkg/chipingress/mocks/chip_ingress_client.go
  pkg/chipingress/pb/mocks/chip_ingress_client.go
Owners: @smartcontractkit/foundations, @smartcontractkit/realtime

INFOPLAT-2071 Makes chip-ingress emitter log error rather than returning it
  pkg/beholder/dual_source_emitter.go
Owners: @smartcontractkit/realtime
