Repository smartcontractkit/chainlink-common, changes with the owners that .github/CODEOWNERS names for each.
All owners: @smartcontractkit/foundations, @Atrax1, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/bix-framework, @nolag, @topliceanu, @pedrovsg, @smartcontractkit/realtime, @smartcontractkit/ccip-offchain

.github/CODEOWNERS:

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority

* @smartcontractkit/foundations

/observability-lib/ @Atrax1

/pkg/capabilities/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/codec/ @smartcontractkit/bix-framework @smartcontractkit/foundations @nolag 
/pkg/monitoring/ @topliceanu @pedrovsg
/pkg/values/ @smartcontractkit/keystone @smartcontractkit/capabilities-team
/pkg/workflows/ @smartcontractkit/keystone
/pkg/beholder/ @smartcontractkit/realtime
/pkg/types/ccipocr3 @smartcontractkit/ccip-offchain
/pkg/types/ccip @smartcontractkit/ccip-offchain

feat: add MaxFetchResponseSizeBytes to module config
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/wasm_test.go
  pkg/workflows/wasm/sdk.go
Owners: @smartcontractkit/keystone

chore: rename MaxFetchResponseSizeBytes to MaxResponseSizeBytes
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/wasm_test.go
  pkg/workflows/wasm/pb/wasm.pb.go
  pkg/workflows/wasm/pb/wasm.proto
  pkg/workflows/wasm/runner.go
  pkg/workflows/wasm/runner_test.go
  pkg/workflows/wasm/sdk.go
Owners: @smartcontractkit/keystone

[CAPPL-620] add MaxResponseSizeBytes to module config (#1057)
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/wasm_test.go
  pkg/workflows/wasm/pb/wasm.pb.go
  pkg/workflows/wasm/pb/wasm.proto
  pkg/workflows/wasm/runner.go
  pkg/workflows/wasm/runner_test.go
  pkg/workflows/wasm/sdk.go
Owners: @smartcontractkit/keystone

Make some interfaces public to facilitate mocking
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/capability_test.go
  pkg/capabilities/consensus/ocr3/factory.go
  pkg/capabilities/consensus/ocr3/ocr3.go
  pkg/capabilities/consensus/ocr3/reporting_plugin.go
  pkg/capabilities/consensus/ocr3/reporting_plugin_test.go
  pkg/capabilities/consensus/ocr3/transmitter.go
  pkg/capabilities/consensus/ocr3/transmitter_test.go
  pkg/capabilities/triggers/mercury_remote_aggregator.go
  pkg/capabilities/triggers/mercury_remote_aggregator_test.go
  pkg/capabilities/triggers/mercury_trigger.go
  pkg/capabilities/triggers/mercury_trigger_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

lint
  pkg/codec/property_extractor.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Make some interfaces public to facilitate mocking (#1059)
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/capability_test.go
  pkg/capabilities/consensus/ocr3/factory.go
  pkg/capabilities/consensus/ocr3/ocr3.go
  pkg/capabilities/consensus/ocr3/reporting_plugin.go
  pkg/capabilities/consensus/ocr3/reporting_plugin_test.go
  pkg/capabilities/consensus/ocr3/transmitter.go
  pkg/capabilities/consensus/ocr3/transmitter_test.go
  pkg/capabilities/triggers/mercury_remote_aggregator.go
  pkg/capabilities/triggers/mercury_remote_aggregator_test.go
  pkg/capabilities/triggers/mercury_trigger.go
  pkg/capabilities/triggers/mercury_trigger_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Fix potential panic in codec upperFirstCharacter
  pkg/codec/config.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Fix potential panic in codec upperFirstCharacter (#1060)
  pkg/codec/config.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

Improve wrapper and property extractor modifiers (#1058)
  pkg/codec/config.go
  pkg/codec/property_extractor.go
  pkg/codec/property_extractor_test.go
  pkg/codec/wrapper.go
  pkg/codec/wrapper_test.go
Owners: @smartcontractkit/bix-framework, @smartcontractkit/foundations, @nolag

pkg/loop: swap out deprecated grpc API
  go.mod
  go.sum
  pkg/loop/internal/net/test/simple_broker.go
  pkg/loop/internal/relayer/pluginprovider/contractreader/test/loop_server_tester.go
  pkg/loop/internal/relayerset/inprocessprovider/grpc_provider_server.go
  pkg/loop/internal/test/grpc_scaffold.go
  pkg/loop/telem.go
Owners: @smartcontractkit/foundations

pkg/capabilities/consensus/ocr3: use services.Engine
  pkg/capabilities/consensus/ocr3/capability.go
  pkg/capabilities/consensus/ocr3/requests/handler.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

move config types
  pkg/config/secret.go
  pkg/config/secret_test.go
  pkg/loop/config.go
  pkg/loop/config_test.go
  pkg/loop/server.go
Owners: @smartcontractkit/foundations

move config types (#1061)
  pkg/config/secret.go
  pkg/config/secret_test.go
  pkg/loop/config.go
  pkg/loop/config_test.go
  pkg/loop/server.go
Owners: @smartcontractkit/foundations

Send Metering Report to Beholder
  pkg/beholder/auth_test.go
  pkg/beholder/client.go
  pkg/beholder/client_test.go
  pkg/beholder/httpclient.go
  pkg/beholder/noop_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/custmsg/custom_message.go
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

update wasm usage of Emit
  pkg/workflows/wasm/host/module.go
  pkg/workflows/wasm/host/module_test.go
  pkg/workflows/wasm/host/wasm_test.go
Owners: @smartcontractkit/keystone

add ReportFormatEVMStreamlined
  pkg/types/llo/types.go
Owners: @smartcontractkit/foundations

pkg/loop: db url fix
  pkg/loop/config_test.go
  pkg/loop/server.go
Owners: @smartcontractkit/foundations

pkg/loop: db url fix (#1064)
  pkg/loop/config_test.go
  pkg/loop/server.go
Owners: @smartcontractkit/foundations

add ReportFormatEVMStreamlined (#1063)
  pkg/types/llo/types.go
Owners: @smartcontractkit/foundations

bump go 1.24 & golangci-lint 1.64.7; use *testing.T.Context
  .github/workflows/golangci_lint.yml
  .tool-versions
  Makefile
  go.mod
  pkg/services/servicetest/run.go
  pkg/services/servicetest/run_test.go
  pkg/types/interfacetests/utils.go
  pkg/utils/tests/tests.go
  pkg/utils/testutils.go
Owners: @smartcontractkit/foundations

bump mockery
  .tool-versions
  Makefile
  pkg/beholder/internal/mocks/otlp_exporter.go
  pkg/capabilities/datastreams/mocks/report_codec.go
  pkg/loop/mocks/relayer.go
  pkg/monitoring/exporter_factory_mock.go
  pkg/monitoring/exporter_mock.go
  pkg/monitoring/metrics_mock.go
  pkg/monitoring/source_factory_mock.go
  pkg/monitoring/source_mock.go
  pkg/types/ccip/mocks/offramp_reader_mock.go
  pkg/types/core/mocks/capabilities_registry.go
  pkg/types/core/mocks/relayer.go
Owners: @smartcontractkit/foundations, @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @topliceanu, @pedrovsg, @smartcontractkit/ccip-offchain

pkg/beholder: generalize BuildAuthHeaders to accept crypto.Signer
  pkg/beholder/auth.go
  pkg/beholder/auth_test.go
Owners: @smartcontractkit/realtime

pkg/beholder: generalize BuildAuthHeaders to accept crypto.Signer
  pkg/beholder/auth.go
  pkg/beholder/auth_test.go
Owners: @smartcontractkit/realtime

pkg/beholder: generalize BuildAuthHeaders to accept crypto.Signer (#1067)
  pkg/beholder/auth.go
  pkg/beholder/auth_test.go
Owners: @smartcontractkit/realtime

[chore] Update LICENSE
  LICENSE
Owners: @smartcontractkit/foundations

[CAPPL-595] Structs + converters for new OCR-based trigger events
  pkg/capabilities/capabilities.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/pb/capabilities_helpers_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

[CAPPL-595] Structs + converters for new OCR-based trigger events (#1070)
  pkg/capabilities/capabilities.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/capabilities/pb/capabilities_helpers.go
  pkg/capabilities/pb/capabilities_helpers_test.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

pkg/types: add ChainSerice.Replay & ChainStatus.ReplayStatus
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

[CAPPL-597] OCR aggregator for LLO-based data feeds
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.pb.go
  pkg/capabilities/consensus/ocr3/datafeeds/data_feeds_types.proto
  pkg/capabilities/consensus/ocr3/datafeeds/feeds_aggregator.go
  pkg/capabilities/consensus/ocr3/datafeeds/llo_aggregator.go
Owners: @smartcontractkit/keystone, @smartcontractkit/capabilities-team

Rename ChainWriter Chain Component to ContractWriter
  pkg/loop/internal/types/types.go
  pkg/loop/mocks/relayer.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

minor param naming fix
  pkg/loop/internal/example-relay/main.go
  pkg/loop/mocks/relayer.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Add Replay
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Add ReplayStatus strings
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Update relayer.go
  pkg/types/relayer.go
Owners: @smartcontractkit/foundations

Send Metering Report to Beholder
  pkg/beholder/auth_test.go
  pkg/beholder/client.go
  pkg/beholder/client_test.go
  pkg/beholder/httpclient.go
  pkg/beholder/noop_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/custmsg/custom_message.go
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

add message to describe why EmitMessage is implemented
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/foundations

reduce BeholderTester function scope for simplicity
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/foundations

Send Metering Report to Beholder (#1062)
  pkg/beholder/auth_test.go
  pkg/beholder/client.go
  pkg/beholder/client_test.go
  pkg/beholder/httpclient.go
  pkg/beholder/noop_test.go
  pkg/capabilities/pb/capabilities.pb.go
  pkg/capabilities/pb/capabilities.proto
  pkg/custmsg/custom_message.go
  pkg/utils/tests/beholder.go
Owners: @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @smartcontractkit/foundations

bump go 1.24 & golangci-lint 1.64.7; use *testing.T.Context; bump mockery
  .github/workflows/golangci_lint.yml
  .tool-versions
  Makefile
  go.mod
  pkg/beholder/client_test.go
  pkg/beholder/internal/mocks/otlp_exporter.go
  pkg/capabilities/datastreams/mocks/report_codec.go
  pkg/loop/internal/core/services/capability/capabilities_test.go
  pkg/loop/internal/core/services/reportingplugin/ocr3/test/factory.go
  pkg/loop/internal/core/services/telemetry/test/telemetry.go
  pkg/loop/internal/relayer/pluginprovider/ext/ccip/test/commit_factory_server.go
  pkg/loop/internal/relayer/pluginprovider/ext/ccip/test/exec_factory_server.go
  pkg/loop/internal/relayer/pluginprovider/ext/ccip/test/exec_provider_test.go
  pkg/loop/internal/relayer/pluginprovider/ext/mercury/test/mercury.go
  pkg/loop/internal/relayer/test/relayer.go
  pkg/loop/internal/reportingplugin/test/factory.go
  pkg/loop/mocks/relayer.go
  pkg/monitoring/exporter_factory_mock.go
  pkg/monitoring/exporter_mock.go
  pkg/monitoring/metrics_mock.go
  pkg/monitoring/source_factory_mock.go
  pkg/monitoring/source_mock.go
  pkg/services/servicetest/run_test.go
  pkg/types/ccip/mocks/offramp_reader_mock.go
  pkg/types/core/mocks/capabilities_registry.go
  pkg/types/core/mocks/relayer.go
  pkg/types/interfacetests/chain_components_interface_tests.go
  pkg/types/interfacetests/utils.go
  pkg/utils/tests/ctx.go
  pkg/utils/tests/ctx_go124.go
  pkg/utils/tests/tests.go
  pkg/utils/testutils.go
  pkg/workflows/wasm/host/module_test.go
Owners: @smartcontractkit/foundations, @smartcontractkit/realtime, @smartcontractkit/keystone, @smartcontractkit/capabilities-team, @topliceanu, @pedrovsg, @smartcontractkit/ccip-offchain

fix(observability-lib): notification policies provisioning
  observability-lib/api/notification-policy.go
  observability-lib/api/notification-policy_test.go
Owners: @Atrax1
